USE [TrailRaceNepalTest]
GO
/****** Object:  Table [dbo].[TimeInterval]    Script Date: 6/6/2019 3:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeInterval](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BIBCode] [bigint] NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[Interval] [time](7) NULL,
	[Rank] [int] NULL,
	[RaceId] [bigint] NULL,
 CONSTRAINT [PK_TimeInterval] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Register]    Script Date: 6/6/2019 3:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Register](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BIBCode] [bigint] NULL,
	[Name] [nvarchar](256) NULL,
	[FirstName] [nvarchar](256) NULL,
	[MiddleName] [nvarchar](256) NULL,
	[LastName] [nvarchar](256) NULL,
	[Age] [nvarchar](256) NULL,
	[AgeOnRaceDay] [nvarchar](50) NULL,
	[Gender] [nvarchar](50) NULL,
	[DateOfBirth] [datetime] NULL,
	[PhoneNumber] [nvarchar](128) NULL,
	[Email] [nvarchar](256) NULL,
	[Distance] [int] NULL,
	[StartTime] [datetime] NULL,
	[RaceId] [bigint] NULL,
	[Gender_Image] [nvarchar](max) NULL,
	[CategoryImage] [nvarchar](max) NULL,
	[Nationality] [nvarchar](max) NULL,
	[SeasonPass] [nvarchar](max) NULL,
	[TeamName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Register] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[View17andBelowMaleRankedList]    Script Date: 6/6/2019 3:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



 CREATE view [dbo].[View17andBelowMaleRankedList] as 
  (
  Select  
  a.Id, a.BIBCode, a.Name,  a.Age, a.Gender,a.Distance, b.Interval,  
  Rank() over (partition by a.Distance, b.StartTime, a.Age, a.Gender order by b.Interval )
  as RANK ,b.StartTime,a.Email,b.EndTime, b.RaceId
    from [TrailRaceNepalTest].dbo.Register as a
  join [TrailRaceNepalTest].dbo.TimeInterval as b
  on a.BIBCode = b.BIBCode and a.RaceId = b.RaceId
  WHERE a.Age like '%17 and below%' and a.Gender ='Male') ;
GO
/****** Object:  View [dbo].[View18to39FemaleRankedList]    Script Date: 6/6/2019 3:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



 CREATE view [dbo].[View18to39FemaleRankedList] as 
  (
  Select  
  a.Id, a.BIBCode, a.Name,  a.Age, a.Gender,a.Distance, b.Interval,  
  Rank() over (partition by a.Distance, b.StartTime, a.Age, a.Gender order by b.Interval )
  as RANK ,b.StartTime,a.Email,b.EndTime, b.RaceId
    from [TrailRaceNepalTest].dbo.Register as a
  join [TrailRaceNepalTest].dbo.TimeInterval as b
  on a.BIBCode = b.BIBCode and a.RaceId = b.RaceId
  WHERE a.Age like '%18 to 39%' and a.Gender like '%Female%') ;
GO
/****** Object:  View [dbo].[View18to39MaleRankedList]    Script Date: 6/6/2019 3:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[View18to39MaleRankedList] as
  (
  Select  
  a.Id, a.BIBCode, a.Name,  a.Age, a.Gender,a.Distance, b.Interval,  
  Rank() over (partition by a.Distance, b.StartTime, a.Age, a.Gender order by b.Interval )
  as RANK ,b.StartTime,a.Email,b.EndTime, b.RaceId
    from [TrailRaceNepalTest].dbo.Register as a
  join [TrailRaceNepalTest].dbo.TimeInterval as b
  on a.BIBCode = b.BIBCode   and a.RaceId = b.RaceId
  WHERE a.Age like '%18 to 39%' and a.Gender ='Male') ;
GO
/****** Object:  View [dbo].[View40andAboveFemaleRankedList]    Script Date: 6/6/2019 3:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE view [dbo].[View40andAboveFemaleRankedList] as 
  (
  Select  
  a.Id, a.BIBCode, a.Name,  a.Age, a.Gender,a.Distance, b.Interval,  
  Rank() over (partition by a.Distance, b.StartTime, a.Age, a.Gender order by b.Interval )
  as RANK ,b.StartTime,a.Email,b.EndTime, b.RaceId
    from [TrailRaceNepalTest].dbo.Register as a
  join [TrailRaceNepalTest].dbo.TimeInterval as b
  on a.BIBCode = b.BIBCode and a.RaceId = b.RaceId
  WHERE a.Age like '%40 and Above%' and a.Gender ='Female');
GO
/****** Object:  View [dbo].[View40andAboveMaleRankedList]    Script Date: 6/6/2019 3:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



 CREATE view [dbo].[View40andAboveMaleRankedList] as 
  (
  Select  
  a.Id, a.BIBCode, a.Name,  a.Age, a.Gender,a.Distance, b.Interval,  
  Rank() over (partition by a.Distance, b.StartTime, a.Age, a.Gender order by b.Interval )
  as RANK ,b.StartTime,a.Email,b.EndTime, b.RaceId
    from [TrailRaceNepalTest].dbo.Register as a
  join [TrailRaceNepalTest].dbo.TimeInterval as b
  on a.BIBCode = b.BIBCode and a.RaceId = b.RaceId
  WHERE a.Age like '%40 and above%' and a.Gender ='Male');
GO
/****** Object:  View [dbo].[View8andBelowFemaleRankedList]    Script Date: 6/6/2019 3:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



 CREATE view [dbo].[View8andBelowFemaleRankedList] as 
  (
  Select  
  a.Id, a.BIBCode, a.Name,  a.Age, a.Gender,a.Distance, b.Interval,  
  Rank() over (partition by a.Distance, b.StartTime, a.Age, a.Gender order by b.Interval )
  as RANK ,b.StartTime,a.Email,b.EndTime, b.RaceId
    from [TrailRaceNepalTest].dbo.Register as a
  join [TrailRaceNepalTest].dbo.TimeInterval as b
  on a.BIBCode = b.BIBCode and a.RaceId = b.RaceId
  WHERE a.Age like '%8 and below%' and a.Gender ='Female');
GO
/****** Object:  View [dbo].[View8andBelowMaleRankedList]    Script Date: 6/6/2019 3:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE view [dbo].[View8andBelowMaleRankedList] as 
  (
  Select  
  a.Id, a.BIBCode, a.Name,  a.Age, a.Gender,a.Distance, b.Interval,  
  Rank() over (partition by a.Distance, b.StartTime, a.Age, a.Gender order by b.Interval )
  as RANK ,b.StartTime,a.Email,b.EndTime, b.RaceId
    from [TrailRaceNepalTest].dbo.Register as a
  join [TrailRaceNepalTest].dbo.TimeInterval as b
  on a.BIBCode = b.BIBCode and a.RaceId = b.RaceId
  WHERE a.Age like '%8 and below%' and a.Gender ='Male');
GO
/****** Object:  View [dbo].[ViewOverAllFemaleRankedList]    Script Date: 6/6/2019 3:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE view [dbo].[ViewOverAllFemaleRankedList] as 
  (
  Select  
  a.Id, a.BIBCode, a.Name,  a.Age, a.Gender,a.Distance, b.Interval,  
  Rank() over (partition by a.Distance, b.StartTime, a.Gender order by b.Interval )
  as RANK ,b.StartTime,a.Email,b.EndTime, b.RaceId
    from [TrailRaceNepalTest].dbo.Register as a
  join [TrailRaceNepalTest].dbo.TimeInterval as b
  on a.BIBCode = b.BIBCode and a.RaceId = b.RaceId
  WHERE a.Gender ='Female');
GO
/****** Object:  View [dbo].[ViewOverAllMaleRankedList]    Script Date: 6/6/2019 3:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



 CREATE view [dbo].[ViewOverAllMaleRankedList] as 
  (
  Select  
  a.Id, a.BIBCode, a.Name,  a.Age, a.Gender,a.Distance, b.Interval,  
  Rank() over (partition by a.Distance, b.StartTime, a.Gender order by b.Interval )
  as RANK ,b.StartTime,a.Email,b.EndTime, b.RaceId
    from TrailRaceNepalTest.dbo.Register as a
  join TrailRaceNepalTest.dbo.TimeInterval as b
  on a.BIBCode = b.BIBCode AND a.RaceId = b.RaceId
  WHERE a.Gender ='Male');
GO
/****** Object:  View [dbo].[View17andBelowFemaleRankedList]    Script Date: 6/6/2019 3:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE view [dbo].[View17andBelowFemaleRankedList] as 
  (
  Select  
   a.Id,a.BIBCode, a.Name,  a.Age, a.Gender,a.Distance, b.Interval,  
  Rank() over (partition by a.Distance, b.StartTime, a.Age, a.Gender order by b.Interval )
  as RANK ,b.StartTime,a.Email,b.EndTime, b.RaceId
    from [TrailRaceNepalTest].dbo.Register as a
  join [TrailRaceNepalTest].dbo.TimeInterval as b
  on a.BIBCode = b.BIBCode and a.RaceId = b.RaceId
  WHERE a.Age like '%17 and below%' and a.Gender ='Female');
GO
/****** Object:  View [dbo].[View12to17FemaleRankedList]    Script Date: 6/6/2019 3:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE view [dbo].[View12to17FemaleRankedList] as 
  (
  Select  
   a.Id,a.BIBCode, a.Name,  a.Age, a.Gender,a.Distance, b.Interval,  
  Rank() over (partition by a.Distance, b.StartTime, a.Age, a.Gender order by b.Interval )
  as RANK ,b.StartTime,a.Email,b.EndTime, b.RaceId
    from [TrailRaceNepalTest].dbo.Register as a
  join [TrailRaceNepalTest].dbo.TimeInterval as b
  on a.BIBCode = b.BIBCode and a.RaceId = b.RaceId
  WHERE a.Age like '%12 to 17%' and a.Gender ='Female');
GO
/****** Object:  View [dbo].[View12to17MaleRankedList]    Script Date: 6/6/2019 3:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




 CREATE view [dbo].[View12to17MaleRankedList] as 
  (
  Select  
  a.Id, a.BIBCode, a.Name,  a.Age, a.Gender,a.Distance, b.Interval,  
  Rank() over (partition by a.Distance, b.StartTime, a.Age, a.Gender order by b.Interval )
  as RANK ,b.StartTime,a.Email,b.EndTime, b.RaceId
    from [TrailRaceNepalTest].dbo.Register as a
  join [TrailRaceNepalTest].dbo.TimeInterval as b
  on a.BIBCode = b.BIBCode and a.RaceId = b.RaceId
  WHERE a.Age like '%12 to 17%' and a.Gender ='Male') ;
GO
/****** Object:  View [dbo].[View11andBelowFemaleRankedList]    Script Date: 6/6/2019 3:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE view [dbo].[View11andBelowFemaleRankedList] as 
  (
  Select  
   a.Id,a.BIBCode, a.Name,  a.Age, a.Gender,a.Distance, b.Interval,  
  Rank() over (partition by a.Distance, b.StartTime, a.Age, a.Gender order by b.Interval )
  as RANK ,b.StartTime,a.Email,b.EndTime, b.RaceId
    from [TrailRaceNepalTest].dbo.Register as a
  join [TrailRaceNepalTest].dbo.TimeInterval as b
  on a.BIBCode = b.BIBCode and a.RaceId = b.RaceId
  WHERE a.Age like '%11 and below%' and a.Gender ='Female');
GO
/****** Object:  View [dbo].[View11andBelowMaleRankedList]    Script Date: 6/6/2019 3:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





 CREATE view [dbo].[View11andBelowMaleRankedList] as 
  (
  Select  
  a.Id, a.BIBCode, a.Name,  a.Age, a.Gender,a.Distance, b.Interval,  
  Rank() over (partition by a.Distance, b.StartTime, a.Age, a.Gender order by b.Interval )
  as RANK ,b.StartTime,a.Email,b.EndTime, b.RaceId
    from [TrailRaceNepalTest].dbo.Register as a
  join [TrailRaceNepalTest].dbo.TimeInterval as b
  on a.BIBCode = b.BIBCode and a.RaceId = b.RaceId
  WHERE a.Age like '%11 and below%' and a.Gender ='Male') ;
GO
/****** Object:  Table [dbo].[CheckPost]    Script Date: 6/6/2019 3:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckPost](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BIBCode] [nvarchar](256) NULL,
	[EndTime] [datetime] NULL,
 CONSTRAINT [PK_CheckPost] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CheckStation]    Script Date: 6/6/2019 3:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckStation](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[BIBCode] [int] NULL,
	[EndTime] [datetime] NULL,
	[Station] [bigint] NULL,
	[StationName] [nvarchar](256) NULL,
 CONSTRAINT [PK_CheckStation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Races]    Script Date: 6/6/2019 3:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Races](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[RaceName] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[Location] [nvarchar](max) NULL,
	[Sponsers] [nvarchar](max) NULL,
	[Comment] [nvarchar](max) NULL,
 CONSTRAINT [PK_Races] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stations]    Script Date: 6/6/2019 3:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stations](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[StationName] [nvarchar](256) NULL,
 CONSTRAINT [PK_Stations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CheckPost] ON 

INSERT [dbo].[CheckPost] ([Id], [BIBCode], [EndTime]) VALUES (1, N'358', CAST(N'2018-10-06T10:02:26.100' AS DateTime))
INSERT [dbo].[CheckPost] ([Id], [BIBCode], [EndTime]) VALUES (2, N'158', CAST(N'2018-10-06T10:04:03.697' AS DateTime))
INSERT [dbo].[CheckPost] ([Id], [BIBCode], [EndTime]) VALUES (3, N'362', CAST(N'2018-10-06T10:14:31.077' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[CheckPost] OFF
SET IDENTITY_INSERT [dbo].[CheckStation] ON 

INSERT [dbo].[CheckStation] ([Id], [BIBCode], [EndTime], [Station], [StationName]) VALUES (1, 201, CAST(N'2018-10-02T13:13:51.000' AS DateTime), NULL, N'Irkhu')
INSERT [dbo].[CheckStation] ([Id], [BIBCode], [EndTime], [Station], [StationName]) VALUES (2, 202, CAST(N'2018-10-02T13:13:51.000' AS DateTime), NULL, N'birkhu')
INSERT [dbo].[CheckStation] ([Id], [BIBCode], [EndTime], [Station], [StationName]) VALUES (3, 203, CAST(N'2018-10-02T13:13:51.000' AS DateTime), NULL, N'sirkhu')
SET IDENTITY_INSERT [dbo].[CheckStation] OFF
SET IDENTITY_INSERT [dbo].[Races] ON 

INSERT [dbo].[Races] ([Id], [RaceName], [CreateDate], [Location], [Sponsers], [Comment]) VALUES (1, N'Hattiban Resort', CAST(N'2018-10-06T09:17:00.000' AS DateTime), N'Dakxinkali', N'Jimmi', N'This is first test')
INSERT [dbo].[Races] ([Id], [RaceName], [CreateDate], [Location], [Sponsers], [Comment]) VALUES (3, N'SitaPila', CAST(N'2018-11-03T00:00:00.000' AS DateTime), N'SitaPaila', N'jimmi', N'This is Second Race')
INSERT [dbo].[Races] ([Id], [RaceName], [CreateDate], [Location], [Sponsers], [Comment]) VALUES (4, N'Suryabinayak', CAST(N'2018-12-01T09:34:00.000' AS DateTime), N'Suryabinayak', N'Jimmi', N'This is thrid race.')
SET IDENTITY_INSERT [dbo].[Races] OFF
SET IDENTITY_INSERT [dbo].[Register] ON 

GO
SET IDENTITY_INSERT [dbo].[Register] OFF
/****** Object:  Index [UQ_BIBCode]    Script Date: 6/6/2019 3:07:06 PM ******/
ALTER TABLE [dbo].[TimeInterval] ADD  CONSTRAINT [UQ_BIBCode] UNIQUE NONCLUSTERED 
(
	[BIBCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[SpMissedRunnersCheckinSel]    Script Date: 6/6/2019 3:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:Sapana Chaudhary
-- Create date: 03-11-2019
-- Description:	return list of missed runners
-- =============================================
CREATE PROCEDURE [dbo].[SpMissedRunnersCheckinSel]
(@RaceId bigint )
AS
BEGIN
    SET NOCOUNT ON;

    IF 1 = 2
    BEGIN
        SELECT CAST(NULL AS INT) AS Id
        WHERE 1 = 2
        FOR JSON PATH, INCLUDE_NULL_VALUES;
    END;
		
    Select * 
    INTO #tmp
	FROM Register
    where RaceId = @RaceId and BIBCode NOT IN (SELECT BIBCode from TimeInterval where RaceId = @RaceId)
    SELECT *
    FROM #tmp AS t
    FOR JSON PATH, INCLUDE_NULL_VALUES;
    DROP TABLE #tmp;
END;



GO
/****** Object:  StoredProcedure [dbo].[SpTimeIntervalIns]    Script Date: 6/6/2019 3:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SpTimeIntervalIns]
(	
    @RaceId BIGINT,  
	@StartTime DATETIME,
	@EndTime DATETIME,
	@Interval TIME(7),
	@BIBCode BIGINT,
	@ReturnMessage NVARCHAR(100) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
	IF EXISTS
	(
	        SELECT *
            FROM dbo.Register 		
            WHERE RaceId = @RaceId AND BIBCode = @BIBCode        
	)
				BEGIN
				 IF EXISTS
					(
						SELECT *
						FROM dbo.Register AS r 
						INNER JOIN dbo.Races AS r2
						ON r.RaceId = r2.Id
						WHERE r2.Id = @RaceId            
					)
						BEGIN
							IF EXISTS
							(
								SELECT *
								FROM dbo.TimeInterval AS ti 
								WHERE ti.BIBCode = @BIBCode AND ti.RaceId = @RaceId          
							)
							BEGIN
								SET @ReturnMessage = 'BIBCode already exist!';
								RETURN @ReturnMessage;
							END

							ELSE
								BEGIN					
										INSERT INTO dbo.TimeInterval
										(
											BIBCode,
											StartTime,
											EndTime,
											Interval,
											Rank,
											RaceId
										)
										VALUES
										(   @BIBCode,          -- BIBCode - bigint
											@StartTime,  -- StartTime - datetime
											@EndTime,  -- EndTime - datetime
											@Interval, -- Interval - time(7)
											NULL,         -- Rank - int
											@RaceId          -- RaceId - bigint
										 )
					
										 SET @ReturnMessage = 'BIBCode:'+@BIBCode +' added successfully!';
					
								END
		
						END;
				ELSE
					BEGIN	    
						SET @ReturnMessage = 'Provided RaceId doesnot exist!';
						RETURN @ReturnMessage;
					END;		
			END;
			ELSE
				BEGIN	    
						SET @ReturnMessage = 'BIBCode doesnot exist!';
						RETURN @ReturnMessage;
				END;	
		
		
    END TRY
    BEGIN CATCH
    END CATCH;
END;
GO
