<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TrailRaceNepalEntities" connectionString="metadata=res://*/TrailRaceNepalModel.csdl|res://*/TrailRaceNepalModel.ssdl|res://*/TrailRaceNepalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MSI\MSSQLSERVER01;Initial Catalog=TrailRaceNepalTest;Integrated Security=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>