USE [TrailRaceNepal]
GO
/****** Object:  Table [dbo].[Register]    Script Date: 2/6/2019 9:11:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Register](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BIBCode] [nvarchar](256) NULL,
	[Name] [nvarchar](256) NULL,
	[FirstName] [nvarchar](256) NULL,
	[MiddleName] [nvarchar](256) NULL,
	[LastName] [nvarchar](256) NULL,
	[Age] [nvarchar](256) NULL,
	[Gender] [nvarchar](50) NULL,
	[DateOfBirth] [datetime] NULL,
	[PhoneNumber] [nvarchar](128) NULL,
	[Email] [nvarchar](256) NULL,
	[Distance] [int] NULL,
	[StartTime] [datetime] NULL,
	[RaceId] [bigint] NULL,
	[Nationality] [nvarchar](50) NULL,
	[SeasonPass] [nvarchar](50) NULL,
	[TeamName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Register] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeInterval]    Script Date: 2/6/2019 9:11:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeInterval](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BIBCode] [nvarchar](256) NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[Interval] [time](7) NULL,
	[Rank] [int] NULL,
	[RaceId] [bigint] NULL,
 CONSTRAINT [PK_TimeInterval] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View17andBelowMaleRankedList]    Script Date: 2/6/2019 9:11:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE view [dbo].[View17andBelowMaleRankedList] as 
  (
  Select  
  a.Id, a.BIBCode, a.Name,  a.Age, a.Gender,a.Distance, b.Interval,  
  Rank() over (partition by a.Distance, b.StartTime, a.Age, a.Gender order by b.Interval )
  as RANK ,b.StartTime,a.Email,b.EndTime, b.RaceId
    from TrailRaceNepal.dbo.Register as a
  join TrailRaceNepal.dbo.TimeInterval as b
  on a.BIBCode = b.BIBCode and a.StartTime = b.StartTime and a.RaceId = b.RaceId
  WHERE a.Age like '%17 and below%' and a.Gender ='Male') ;
GO
/****** Object:  View [dbo].[View18to39FemaleRankedList]    Script Date: 2/6/2019 9:11:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE view [dbo].[View18to39FemaleRankedList] as 
  (
  Select  
  a.Id, a.BIBCode, a.Name,  a.Age, a.Gender,a.Distance, b.Interval,  
  Rank() over (partition by a.Distance, b.StartTime, a.Age, a.Gender order by b.Interval )
  as RANK ,b.StartTime,a.Email,b.EndTime, b.RaceId
    from TrailRaceNepal.dbo.Register as a
  join TrailRaceNepal.dbo.TimeInterval as b
  on a.BIBCode = b.BIBCode and a.StartTime = b.StartTime and a.RaceId = b.RaceId
  WHERE a.Age like '%18 to 39%' and a.Gender like '%Female%') ;
GO
/****** Object:  View [dbo].[View18to39MaleRankedList]    Script Date: 2/6/2019 9:11:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View18to39MaleRankedList] as
  (
  Select  
  a.Id, a.BIBCode, a.Name,  a.Age, a.Gender,a.Distance, b.Interval,  
  Rank() over (partition by a.Distance, b.StartTime, a.Age, a.Gender order by b.Interval )
  as RANK ,b.StartTime,a.Email,b.EndTime, b.RaceId
    from TrailRaceNepal.dbo.Register as a
  join TrailRaceNepal.dbo.TimeInterval as b
  on a.BIBCode = b.BIBCode  and a.StartTime = b.StartTime and a.RaceId = b.RaceId
  WHERE a.Age like '%18 to 39%' and a.Gender ='Male') ;
GO
/****** Object:  View [dbo].[View40andAboveFemaleRankedList]    Script Date: 2/6/2019 9:11:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[View40andAboveFemaleRankedList] as 
  (
  Select  
  a.Id, a.BIBCode, a.Name,  a.Age, a.Gender,a.Distance, b.Interval,  
  Rank() over (partition by a.Distance, b.StartTime, a.Age, a.Gender order by b.Interval )
  as RANK ,b.StartTime,a.Email,b.EndTime, b.RaceId
    from TrailRaceNepal.dbo.Register as a
  join TrailRaceNepal.dbo.TimeInterval as b
  on a.BIBCode = b.BIBCode and a.StartTime = b.StartTime and a.RaceId = b.RaceId
  WHERE a.Age like '%40 and Above%' and a.Gender ='Female');
GO
/****** Object:  View [dbo].[View40andAboveMaleRankedList]    Script Date: 2/6/2019 9:11:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE view [dbo].[View40andAboveMaleRankedList] as 
  (
  Select  
  a.Id, a.BIBCode, a.Name,  a.Age, a.Gender,a.Distance, b.Interval,  
  Rank() over (partition by a.Distance, b.StartTime, a.Age, a.Gender order by b.Interval )
  as RANK ,b.StartTime,a.Email,b.EndTime, b.RaceId
    from TrailRaceNepal.dbo.Register as a
  join TrailRaceNepal.dbo.TimeInterval as b
  on a.BIBCode = b.BIBCode and a.StartTime = b.StartTime and a.RaceId = b.RaceId
  WHERE a.Age like '%40 and above%' and a.Gender ='Male');
GO
/****** Object:  View [dbo].[View8andBelowFemaleRankedList]    Script Date: 2/6/2019 9:11:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE view [dbo].[View8andBelowFemaleRankedList] as 
  (
  Select  
  a.Id, a.BIBCode, a.Name,  a.Age, a.Gender,a.Distance, b.Interval,  
  Rank() over (partition by a.Distance, b.StartTime, a.Age, a.Gender order by b.Interval )
  as RANK ,b.StartTime,a.Email,b.EndTime, b.RaceId
    from TrailRaceNepal.dbo.Register as a
  join TrailRaceNepal.dbo.TimeInterval as b
  on a.BIBCode = b.BIBCode and a.StartTime = b.StartTime and a.RaceId = b.RaceId
  WHERE a.Age like '%8 and below%' and a.Gender ='Female');
GO
/****** Object:  View [dbo].[View8andBelowMaleRankedList]    Script Date: 2/6/2019 9:11:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[View8andBelowMaleRankedList] as 
  (
  Select  
  a.Id, a.BIBCode, a.Name,  a.Age, a.Gender,a.Distance, b.Interval,  
  Rank() over (partition by a.Distance, b.StartTime, a.Age, a.Gender order by b.Interval )
  as RANK ,b.StartTime,a.Email,b.EndTime, b.RaceId
    from TrailRaceNepal.dbo.Register as a
  join TrailRaceNepal.dbo.TimeInterval as b
  on a.BIBCode = b.BIBCode and a.StartTime = b.StartTime and a.RaceId = b.RaceId
  WHERE a.Age like '%8 and below%' and a.Gender ='Male');
GO
/****** Object:  View [dbo].[ViewOverAllFemaleRankedList]    Script Date: 2/6/2019 9:11:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[ViewOverAllFemaleRankedList] as 
  (
  Select  
  a.Id, a.BIBCode, a.Name,  a.Age, a.Gender,a.Distance, b.Interval,  
  Rank() over (partition by a.Distance, b.StartTime, a.Gender order by b.Interval )
  as RANK ,b.StartTime,a.Email,b.EndTime, b.RaceId
    from TrailRaceNepal.dbo.Register as a
  join TrailRaceNepal.dbo.TimeInterval as b
  on a.BIBCode = b.BIBCode and a.StartTime = b.StartTime and a.RaceId = b.RaceId
  WHERE a.Gender ='Female');
GO
/****** Object:  View [dbo].[ViewOverAllMaleRankedList]    Script Date: 2/6/2019 9:11:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE view [dbo].[ViewOverAllMaleRankedList] as 
  (
  Select  
  a.Id, a.BIBCode, a.Name,  a.Age, a.Gender,a.Distance, b.Interval,  
  Rank() over (partition by a.Distance, b.StartTime, a.Gender order by b.Interval )
  as RANK ,b.StartTime,a.Email,b.EndTime, b.RaceId
    from TrailRaceNepal.dbo.Register as a
  join TrailRaceNepal.dbo.TimeInterval as b
  on a.BIBCode = b.BIBCode and a.StartTime = b.StartTime AND a.RaceId = b.RaceId
  WHERE a.Gender ='Male');
GO
/****** Object:  View [dbo].[View17andBelowFemaleRankedList]    Script Date: 2/6/2019 9:11:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[View17andBelowFemaleRankedList] as 
  (
  Select  
   a.Id,a.BIBCode, a.Name,  a.Age, a.Gender,a.Distance, b.Interval,  
  Rank() over (partition by a.Distance, b.StartTime, a.Age, a.Gender order by b.Interval )
  as RANK ,b.StartTime,a.Email,b.EndTime, b.RaceId
    from TrailRaceNepal.dbo.Register as a
  join TrailRaceNepal.dbo.TimeInterval as b
  on a.BIBCode = b.BIBCode  and a.StartTime = b.StartTime and a.RaceId = b.RaceId
  WHERE a.Age like '%17 and below%' and a.Gender ='Female');
GO
/****** Object:  Table [dbo].[CheckPost]    Script Date: 2/6/2019 9:11:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckPost](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BIBCode] [nvarchar](256) NULL,
	[EndTime] [datetime] NULL,
 CONSTRAINT [PK_CheckPost] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CheckStation]    Script Date: 2/6/2019 9:11:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckStation](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[BIBCode] [int] NULL,
	[EndTime] [datetime] NULL,
	[Station] [bigint] NULL,
	[StationName] [nvarchar](256) NULL,
 CONSTRAINT [PK_CheckStation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Races]    Script Date: 2/6/2019 9:11:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Races](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[RaceName] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[Location] [nvarchar](max) NULL,
	[Sponsers] [nvarchar](max) NULL,
	[Comment] [nvarchar](max) NULL,
 CONSTRAINT [PK_Races] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stations]    Script Date: 2/6/2019 9:11:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stations](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[StationName] [nvarchar](256) NULL,
 CONSTRAINT [PK_Stations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CheckPost] ON 

INSERT [dbo].[CheckPost] ([Id], [BIBCode], [EndTime]) VALUES (1, N'358', CAST(N'2018-10-06T10:02:26.100' AS DateTime))
INSERT [dbo].[CheckPost] ([Id], [BIBCode], [EndTime]) VALUES (2, N'158', CAST(N'2018-10-06T10:04:03.697' AS DateTime))
INSERT [dbo].[CheckPost] ([Id], [BIBCode], [EndTime]) VALUES (3, N'362', CAST(N'2018-10-06T10:14:31.077' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[CheckPost] OFF
SET IDENTITY_INSERT [dbo].[CheckStation] ON 

INSERT [dbo].[CheckStation] ([Id], [BIBCode], [EndTime], [Station], [StationName]) VALUES (1, 201, CAST(N'2018-10-02T13:13:51.000' AS DateTime), NULL, N'Irkhu')
INSERT [dbo].[CheckStation] ([Id], [BIBCode], [EndTime], [Station], [StationName]) VALUES (2, 202, CAST(N'2018-10-02T13:13:51.000' AS DateTime), NULL, N'birkhu')
INSERT [dbo].[CheckStation] ([Id], [BIBCode], [EndTime], [Station], [StationName]) VALUES (3, 203, CAST(N'2018-10-02T13:13:51.000' AS DateTime), NULL, N'sirkhu')
SET IDENTITY_INSERT [dbo].[CheckStation] OFF
SET IDENTITY_INSERT [dbo].[Races] ON 

INSERT [dbo].[Races] ([Id], [RaceName], [CreateDate], [Location], [Sponsers], [Comment]) VALUES (1, N'Hattiban Resort', CAST(N'2018-10-06T09:17:00.000' AS DateTime), N'Dakxinkali', N'Jimmi', N'This is first test')
INSERT [dbo].[Races] ([Id], [RaceName], [CreateDate], [Location], [Sponsers], [Comment]) VALUES (3, N'SitaPila', CAST(N'2018-11-03T00:00:00.000' AS DateTime), N'SitaPaila', N'jimmi', N'This is Second Race')
INSERT [dbo].[Races] ([Id], [RaceName], [CreateDate], [Location], [Sponsers], [Comment]) VALUES (4, N'Suryabinayak', CAST(N'2018-12-01T09:34:00.000' AS DateTime), N'Suryabinayak', N'Jimmi', N'This is thrid race.')
SET IDENTITY_INSERT [dbo].[Races] OFF
SET IDENTITY_INSERT [dbo].[Register] ON 

INSERT [dbo].[Register] ([Id], [BIBCode], [Name], [FirstName], [MiddleName], [LastName], [Age], [Gender], [DateOfBirth], [PhoneNumber], [Email], [Distance], [StartTime], [RaceId], [Nationality], [SeasonPass], [TeamName]) VALUES (2, N'101', N'Tek Bahadur Basnet', N'Abinash Te', N'Bahadur', N'Basnet', N'18 to 39', N'Male', CAST(N'1994-10-21T00:00:00.000' AS DateTime), N'9843686746', N'Teb26@Gmail.Com', 15, CAST(N'2018-10-06T09:17:00.000' AS DateTime), 1, N'Test', NULL, N'Test2')
INSERT [dbo].[Register] ([Id], [BIBCode], [Name], [FirstName], [MiddleName], [LastName], [Age], [Gender], [DateOfBirth], [PhoneNumber], [Email], [Distance], [StartTime], [RaceId], [Nationality], [SeasonPass], [TeamName]) VALUES (3, N'102', N'Melissa Jane Mcartney', N'Melissa', N'Jane ', N'Mcartney', N'18 to 39', N'Female', CAST(N'1987-10-17T00:00:00.000' AS DateTime), N'+64220571852', N'Melissa.Mcartney@Gmail.Com', 15, CAST(N'2018-10-06T09:17:00.000' AS DateTime), 1, N'Test', NULL, N'Test2')
INSERT [dbo].[Register] ([Id], [BIBCode], [Name], [FirstName], [MiddleName], [LastName], [Age], [Gender], [DateOfBirth], [PhoneNumber], [Email], [Distance], [StartTime], [RaceId], [Nationality], [SeasonPass], [TeamName]) VALUES (4, N'103', N'Aawart Adhiari', N'Aawart', N'', N'Adhiari', N'18 to 39', N'Male', CAST(N'1984-01-22T00:00:00.000' AS DateTime), N'9849146378', N'Aawart.Adhiari@Gmail.Com', NULL, CAST(N'2018-10-06T09:17:00.000' AS DateTime), 1, N'Test', NULL, N'Test2')
GO
SET IDENTITY_INSERT [dbo].[Register] OFF
SET IDENTITY_INSERT [dbo].[TimeInterval] ON 

INSERT [dbo].[TimeInterval] ([Id], [BIBCode], [StartTime], [EndTime], [Interval], [Rank], [RaceId]) VALUES (1, N'358', CAST(N'2018-10-06T09:17:00.000' AS DateTime), CAST(N'2018-10-06T10:02:26.100' AS DateTime), CAST(N'00:45:26.1000000' AS Time), NULL, 1)
INSERT [dbo].[TimeInterval] ([Id], [BIBCode], [StartTime], [EndTime], [Interval], [Rank], [RaceId]) VALUES (2, N'158', CAST(N'2018-10-06T09:17:00.000' AS DateTime), CAST(N'2018-10-06T10:04:03.697' AS DateTime), CAST(N'00:47:03.6970000' AS Time), NULL, 1)
INSERT [dbo].[TimeInterval] ([Id], [BIBCode], [StartTime], [EndTime], [Interval], [Rank], [RaceId]) VALUES (3, N'362', CAST(N'2018-10-06T09:17:00.000' AS DateTime), CAST(N'2018-10-06T10:14:31.077' AS DateTime), CAST(N'00:57:31.0770000' AS Time), NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[TimeInterval] OFF
